.bpm-display { 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.bpm-container {
  display: flex;
  align-items: center;
  justify-content: space-around; 
  width: 100%;
}

.bpm-button {
  font-size: 1em;
  width: 4em;
  height: 1.5em;
  margin: 0 0.3em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bpm-display-input { 
  height: 2.4em;
  width: 2.4em;
  border-radius: 2em;
  text-align: center;
  border: 0.2em solid black;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

/* remove increment selectors inside input */ 
.bpm-display input::-webkit-outer-spin-button,
.bpm-display input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.bpm-display input[type=number] {
  -moz-appearance: textfield;
}

.tempo {
  font-size: 1.7em;
  font-weight: bold;
  color: white;
  font-family: sans-serif;
  cursor: default;
  display: flex;
  justify-content: center;
} 