* {
	box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.selected {
	background-color: blue;
}

.muted {
	background-color: red;
}

.metronomeContainer {
	background-color: grey;
    width: 30em;
    height: 20em;
    margin: auto; 
}

/* ============= BPM ============= */
.BPMContainer { 
    width: 100%;
    height: 11em;
    display: flex;
    align-items: flex-end;
    justify-content: center; 
}

.BPMDisplay {
	height: 2em;
    width: 2em;
    border-radius: 2em;
    text-align: center;
    border: 0.2em solid black;
    font-weight: bold;
    font-size: 4em;
}

.BPMInput {
	height: 1em;
    width: 1em;
    font-size: 3em;
    line-height: 0em;
    margin: 0 0.3em;
}

/* ============= Buttons ============= */
.buttonContainer {
	display: flex;
	align-items: center;
	justify-content: center; 
    height: 4em;
}

.BPMButton {
	font-size: 1.5em;
    width: 4em;
    margin: 0 0.3em;
}

/* ========== Volume ========== */
.volumeContainer {
	display: flex;
	align-items: center;
	justify-content: center; 
	height: 2em;
    margin-bottom: 2em;
}

/* ========== Timer =========== */
.timerComponentContainer {
    width: 80%;
    margin: auto; 
}