* {
	box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.selected {
	background-color: blue;
}

.muted {
	background-color: red;
}

.metronomeContainer {
    background-color: grey;
    width: 30em;
    height: 25em;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1em;
}

/* ============= BPM ============= */
.BPMComponent { 
    width: 100%; 
    display: flex; 
    justify-content: center;
}

.BPMDisplay { 
    height: 2.4em;
    width: 2.4em;
    border-radius: 2em;
    text-align: center;
    border: 0.2em solid black;
    font-weight: bold;
    font-size: 4em;
}

.BPMInput {
	height: 1em;
    width: 1em;
    font-size: 3em;
    line-height: 0em;
    margin: 0 0.3em;
}

/* ============= Buttons ============= */
.buttonContainer {
    display: flex; 
    justify-content: center; 
}

.BPMButton {
	font-size: 1.5em;
    width: 4em;
    margin: 0 0.3em;
}

/* ========== Volume ========== */
.volumeContainer {
	display: flex; 
    justify-content: center;
}

/* ========== Timer =========== */
.timerComponentContainer {
    width: 80%; 
}