.metronome-container {
  background-color: grey;
  width: 30em;
  height: 30em;
  margin: auto;
  border-radius: 1em;
  padding: 2em;
}

.metronome-view {
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
  height: 100%;
  width: 100%; 
}

.show-metronome-view {
	display: flex;
}

.hide-metronome-view {
	display: none;
}