.metronome-container {
  background-color: grey;
  width: 30em; 
  margin: auto;
  border-radius: 1em;
  padding: 2em;
  box-sizing: border-box;
}

.metronome-view {
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
  height: 100%;
  width: 100%; 
}

.show-metronome-view {
	display: flex;
}

.hide-metronome-view {
	display: none;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.volume-slider-container {
  display: flex;
  justify-content: center;
  padding: 1.3em;
}

.bpm-display-container {
  padding-top: 2em;
}