.settings-view { 
  display: flex; 
  color: white;
}

.show-settings-view {
  display: flex;
}

.hide-settings-view {
  display: none;
}

.settings-view h3 {
  font-size: 1.3em;
  font-family: sans-serif; 
  cursor: default;
}    

.MuiFormControlLabel-root { 
  height: 1.6em; 
} 

.MuiIconButton-label { 
  color: white;
}